<div class="row">
    <div class="seven columns">
        <div class="date"><i>{{ object.date|date:"j E Y" }}</i></div>
        <h3>"{{ object.title|capfirst }}"</h3>

        {% include "reviews/_background.html" %}
        
    </div>
    <div class="five columns">
        {% include "reviews/_top_rating.html" %}
    </div>
</div>

<div class="row">
    <div class="seven columns">
        <h5>Zalety</h5>
        <div>{{ object.pros|capfirst|linebreaks }}</div>
        <h5>Wady</h5>
        <div>{{ object.cons|capfirst|linebreaks }}</div>
        {% if object.comment %}
        <h5>Co należy zmienić?</h5>
        <div>{{ object.comment|capfirst|linebreaks }}</div>
        {% endif %}
    </div>
    <div class="five columns">
        {% include "reviews/_rating_table.html" %}
    </div>
</div>

