{% load humanize %}
{% load reviews_extras %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/font-awesome-4.7.0/css/font-awesome.min.css' %}">
{% endblock css %}


<div class="row">
    <div class="twelve columns">
        <div class="salary">
            <h4>
                {{ object.position__position }} |
                {{ object.position__location }}
                {% if object.position__department %}
                |
                {{ object.position__department }}
                {% endif %}
            </h4>
            <div>
            {% if object.position__employment_status == 'B' %}
            Praca na część etatu
            {% endif %}
            {% if object.contract_type != 'A' %}
            {{ object.contract_type|contract }}
            {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="four columns">
        <h5 class="salary-bonus">Zarobki zasadnicze</h5>
    </div>
    <div class="three columns">
        {% if object.salary_count > 1 %}
        <i>średnio:</i>
        {% endif %}
        <div class="avg-salary">
            {{ object.currency }}
            {{ object.salary_avg|intcomma }}
        </div>
        <div class="particulars">
            brutto
            {{ object.period|period }}
        </div>
    </div>
    <div class="four columns">
        {% include 'reviews/_salary_slider.html' with item='salary' %}
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <div class="u-pull-right">
            <i>na podstawie {{ object.salary_count }} wpis{{object.salary_count|pluralize:"u,ów" }}</i>
        </div>
    </div>
</div>


{% if object.bonus_avg %}

<div class="row">
    <div class="four columns">
        <h5 class="salary-bonus">Premia</h5>    
    </div>
    <div class="three columns">
        {% if object.bonus_count > 1 %}
        <i>średnio:</i>
        {% endif %}
        <div class="avg-salary">
            {{ object.currency }}

            {% if object.bonus_periods|length < 2 %}
            {{ object.bonus_avg|intcomma }}

            {% else %}
            {{ object.bonus_annual_avg|intcomma }}
            {% endif %}
        </div>
        <div class="particulars">
            brutto
            {% if object.bonus_periods|length < 2 %}
            {{ object.bonus_periods.0|bonus_period }}
            {% else %}
            rocznie
            {% endif %}
        </div>
    </div>
    
    {% if object.bonus_periods|length < 2 %}
    <div class="four columns">
        {% include 'reviews/_salary_slider.html' with item='bonus' %}
    </div>
    {% else %}
    <div class="four columns">
        {% include 'reviews/_salary_slider.html' with item='bonus_annual' %}
    </div>
    {% endif %}
</div>

{% if object.bonus_periods|length > 1 %}
<div class="row">
    <div class="twelve columns">
        <i>wypłacana: {{ object.bonus_periods|bonus_period }}</i>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="twelve columns">
        <div class="u-pull-right">
            <i>na podstawie {{ object.bonus_count }} wpis{{object.bonus_count|pluralize:"u,ów" }}</i>
        </div>
    </div>
</div>


{% endif %}

