{% extends "base.html" %}

{% load reviews_extras %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/company_view.css' %}">
{% endblock css %}


{% block title %}

pracr | {{ company.name }} | {{ name }}

{% endblock title %}

{% block content %}

<div class="container">
    <section>
        <h3>{{ model|item_list_title }}</h3>
        <div class="row">
            <div class="seven columns">
                <a href="{{ company.get_absolute_url }}"><h1>{{ company.name }}</h1></a>
                <a href="{{ company.website }}" target="_blank">{{ company.website }}</a><p>
            </div>

                {% include model|file_header %}
        </div>

        <article>
            <a href="{% url model company.pk company.slug %}" class="button button-primary add-button"><i class="material-icons">add</i>Dodaj {{ model|item_name_singular }}</a>
        </article>
    </section>
</div>

<section>
    {% for object in object_list %}
    <article class="container">
        {% include model|file %}
    </article>
    
    {% endfor %}
</section>

<section>
    {% include 'reviews/_paginator.html' %}
</section>

<section>
    <div class="container">
        <div class="row">
            <article class="twelve columns action-buttons items">
                {% for button in buttons %}
                <a href= {% url 'company_items' company.pk button company.slug %} class="button">{{ button }}</a>
                {% endfor %}
                <a href = {% url 'company_page' company.pk %} class="button button-primary">Powrót</a>
            </article>
        </div>
    </div>
</section>



{% endblock content %}
