<form action="" method="POST">
    <table>
        {{ form }}
    </table>
    {% csrf_token %}
    <input type="submit" value="Wyślij">
</form>

{% if searchterm and search_results %}
<h2>Wyniki wyszukiwania dla: '{{ searchterm }}'</h2>
{% for item in search_results %}
<p>
<a href= {% url 'companypage' item.pk %}>{{ item }}</a>
</p>
{% endfor %}
<br>
<p>Jeśli na liście nie ma firmy, której szukałeś możesz ją utworzyć:</p>
<a href= {% url 'companycreate' searchterm_joined %}>Utwórz firmę</a>

{% endif %}

{% if searchterm and not search_results %}
<h2>Nie znaleziono firmy '{{ searchterm }}'</h2>
<a href= {% url 'companycreate' searchterm_joined %}>Utwórz firmę</a>
{% endif %}

