<h1>Firma: {{ company.name }}</h1>
<ul>
    <li>Siedziba centrali: {{ company.headquarters_city }}</li>
    <li>Strona www: <a href="{{ company.website }}">{{ company.website }}</a></li>
</ul>
<br/>

<section>
  <h3>Średnia ocen:</h3>
<table>
    <tr><td><strong>Ocena ogólna:</strong></td><td><strong>{{ company.overallscore_score }}</strong></td></tr>
<tr><td>Możliwości rozwoju:</td><td>{{ company.advancement_score }}</td></tr>
<tr><td>Równowaga praca-życie:</td><td>{{ company.worklife_score }}</td></tr>
<tr><td>Zarobki:</td><td>{{ company.compensation_score }}</td></tr>
<tr><td>Atmosfera w pracy:</td><td>{{ company.environment_score }}</td></tr>
</table>
</section>

<section>
    <p>Liczba recenzji: {{ company.number_of_reviews }}</p>
</section>

<section>
  <a href= {% url 'review' company.pk %}>Oceń firmę</a>
  <a href = {% url 'salary' company.pk %}>Dodaj zarobki</a>
</section>
<section>
<hr>
<form action="{% url 'company_search' '' %}" method="POST">
  <table>
    <tr>
      <td><label for="company_name">Wyszukaj inną firmę: </label></td>
    </tr>
    <tr>
      <td><input type="text" name="company_name"/></td>
      <td><input type="submit" value="Szukaj"></td>
    </tr>
  </table>
  {% csrf_token %}
</form>
</section>


