{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/company_view.css' %}">
{% endblock css %}


{% block title %}

pracr | {{ company.name }} | Opinie, zarobki, interview

{% endblock title %}

{% block content %}
<div class="container">
    <section>
        <div class="row">
            <div class="six columns">
                <h1>{{ company.name }}</h1>
                <p>{{ company.headquarters_city | upper }}, <a href="{{ company.website }}">{{ company.website }}</a><p>
            </div>
            {% if reviews or review %}
            <article class="six columns">               
                    <div class="overall">
                        <div class="left-block">
                            <div>
                                {{ rating_items.overallscore.label }}
                            </div>
                            <div>
                                {% include "reviews/display_stars.html" with stars=rating_items.overallscore %}
                            </div>
                        </div>
                        <div class="right-block score">
                            {{ rating_items.overallscore.rating }}
                        </div>
                    </div>
            </article>
            {% endif %}
        </div>
        <div class="row">
            <div class="six columns">
                <article class="counter">
                    <div class="counter-button">
                        Recenzje
                        <a href="{% url 'company_page' company.pk 'recenzje' %}">{{ count.reviews }}</a>
                    </div>
                    <div class="counter-button">
                        Zarobki
                        <a href="{% url 'company_page' company.pk 'zarobki' %}">{{ count.salaries }}</a>
                    </div>
                    <div class="counter-button">
                        Interview
                        <a href="{% url 'company_page' company.pk 'interviews' %}">{{ count.interviews }}</a>
                    </div>
                </article>
            </div>
            {% if review or reviews %}
            <article class="six columns">
                <table>
                    {% for item, value in rating_items.items %}
                    {% if not forloop.first %}
                    <tr>
                        <td>
                            <div>{{ value.label }}</div>
                            <div>{% include "reviews/display_stars.html" with stars=value %}</div>
                        </td>
                        <td class="score">{{ value.rating }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
            </article>
        </div>
        {% else %}
        Firma nie ma jeszcze ocen.
        <br/>
        {% endif %}
    </section>
    <div class="row">
        <article class="twelve columns action-buttons">
                <a href= {% url 'review' company.pk %} class="button button-primary">Dodaj recenzję</a>
                <a href = {% url 'salary' company.pk %} class="button button-primary">Dodaj zarobki</a>
                <a href = {% url 'interview' company.pk %} class="button button-primary">Dodaj interview</a>
        </article>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="twelve columns">
            <section>
                {% if review %}
                <h2>Ocena firmy:</h2>
                {% if review_count > 1 %}
                <a href="{% url 'company_page' company.pk 'recenzje' %}">Więcej ocen</a>
                <a href="{% url 'company_page' company.pk 'interviews' %}">Zobacz interview</a>
                {% endif %}
                {% endif %}

                {% if reviews %}
                <h2>Oceny firmy:</h2>
                <a href="{% url 'company_page' company.pk 'zarobki' %}">Zobacz zarobki</a>
                {% endif %}

                {% if review %}
                <article>
                    {% include "reviews/review_item.html" %}
                </article>
                {% endif %}

                {% if reviews %}
                {% for review in reviews %}
                <article>
                    {% include "reviews/review_item.html" %}
                </article>
                {% endfor %}

                {% endif %}
                {% if salary %}
            </section>
            
            <section>
                <h2>Zarobki:</h2>
                {% if salary_count > 1 %}
                <a href="{% url 'company_page' company.pk 'zarobki' %}">Więcej danych o zarobkach</a>
                {% endif %}
                {% endif %}

                {% if salaries %}
                <h2>Zarobki w firmie:</h2>
                <a href="{% url 'company_page' company.pk 'recenzje' %}">Zobacz oceny</a>
                <a href="{% url 'company_page' company.pk 'interviews' %}">Zobacz interview</a>
                {% endif %}

                {% if salary %}
                <article>
                    {% include "reviews/salary_item.html" %}
                </article>
                {% endif %}

                {% if salaries %}
                {% for salary in salaries %}
                <article>
                    {% include "reviews/salary_item.html" %}
                </article>
                {% endfor %}
                {% endif %}
            </section>

            <section>
                {% if interview %}
                <h2>Interview:</h2>
                {% if interview_count > 1 %}
                <a href="{% url 'company_page' company.pk 'interview' %}">Więcej interview</a>
                {% endif %}
                {% endif %}

                {% if interviews %}
                <h2>Interviews:</h2>
                <a href="{% url 'company_page' company.pk 'recenzje' %}">Zobacz oceny</a>
                <a href="{% url 'company_page' company.pk 'zarobki' %}">Zobacz zarobki</a>
                {% endif %}


                {% if interview %}
                <article>
                    {% include "reviews/interview_item.html" %}
                </article>
                {% endif %}

                {% if interviews %}
                {% for interview in interviews %}
                <article>
                    {% include "reviews/interview_item.html" %}
                </article>
                {% endfor %}
                {% endif %}
            </section>
        </div>
    </div>
</div>

{% endblock content %}
