{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="twelve columns">

            <h1>Dodawanie firmy do bazy danych</h1>
        </div>
        <div class=row>
            <div class="twelve columns">

            <form class="u-full-width" action='' method='POST'>

                
                {{ form.as_p }}


                {% csrf_token %}
                <input type='submit' value='Wyślij'>

            </form>


            {% if unique_error %}
            <h2>Istniejące firmy:</h2>
            <ul>
                {% for company in unique_error %}
                <li><a href="{{ company.get_absolute_url }}">{{ company.name }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>


{% endblock content %}
