{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<div class="container-fluid" style="height: 550px; width: 100%; background-image: url({% static 'pictures/city_landscape.svg' %}); background-size: auto; background-position:center;">
    <div class="row">
        <div class="container text-center" style="margin-top:7rem;">
            <h1 style="margin-bottom:4rem" >Społecznościowa baza danych o pracodawcach i zarobkach</h1>
            <h2 style="margin-bottom:5rem;">Dowiedz się gdzie warto pracować!</h2>
            <form action="" method="POST">
                <div class="input-group input-group-lg">
                    <label class="sr-only" for="company_name">company name</label>
                    <input type="text" class="form-control" placeholder="Wyszukaj firmę..." name="company_name">
                    <div class="input-group-btn">
                        <button class="btn btn-success">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
                {% csrf_token %}
            </form>
            
        </div>
    </div>
</div>
{% endblock content %}
