{% extends 'base.html' %}

{% block css %}
<style>
    form li {
    display: inline-block;
    list-style: none;
    margin: 0 2rem 0 0;    
    }
    .send {
        padding: 5rem 0;
        }
</style>
{% endblock css %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="twelve columns">
            <h1>Rejestracja - profil</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <formset>

                  {{ user_form }}

                </formset>

                <formset>

                {{ profile_form }}

                </formset>


                <p class="send">
                <input type="submit" value="dalej" class="button-primary">
                </p>
                
            </form>
        </div>
    </div>
</div>

{% endblock content %}

