{% extends "base.html" %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}

{% block nav %}
<div class="container full-width">
    <div class="picture-box" style="background-image: url({% static 'img/city_landscape.svg' %})">
        <div class="row">
            <div class="twelve columns">
                <nav>
                    <!-- brand logo -->
                    <a href="{% url 'home' %}"><img src="{% static 'img/logo_new_white.png' %}"></a>
                    {% block menu %}
                    {{ block.super }}
                    {% endblock menu %}
                </nav>
            </div>
        </div>
{% endblock nav %}


        {% block content %}

        <div class="row">
            <div class="twelve columns content">
                <h1>Społecznościowa baza danych o&nbsppracodawcach i&nbspzarobkach</h1>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <form action="{% url 'company_search' '' %}" method="POST">
                    {% csrf_token %}
                    <div class="errors">
                        {{ form.non_field_errors }}
                        {{ form.company_name.errors }}
                    </div>
                    <div class="search">
                        <input type="search" placeholder="Wyszukaj firmę..." name="company_name" aria-label="wyszukaj firmę" class="auto-search" autocomplete="off" required/><button type="submit" class="button-primary"><i class="material-icons">search</i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class ="row marketing">
        <div class="four columns">
            <h2>Opinie</h2>
            <p>Opinie o pracodawcach od samych pracowników. Napisane gdy szefa nie było w pobliżu.</p>
        </div>
        <div class="four columns">
            <h2>Zarobki</h2>
            <p>Informacje o zarobkach anonimowo zostawione przez użytkowników. Możliwość porównania zarobków w różnych firmach.</p>
        </div>
        <div class="four columns">
          <h2>Interview</h2>
          <p>Wrażenia z interview w firmie. O co pytają. Jak zdobyć tam pracę. </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h2>Pełna anonimowość dla autorów wpisów.</h2>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <h3>Jak działa pracr?</h3>
                <ul>
                    <li>Punkt 1</li>
                    <li>Punkt 2</li>
                    <li>Punkt 3</li>
                    <li>Punkt 4</li>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
