{% extends "base.html" %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}

{% block nav %}
<div class="container full-width">
    <div class="picture-box" style="background-image: url({% static 'img/city_landscape.svg' %})">
        <div class="row">
            <div class="twelve columns">
                <nav>
                    {% block logo %}
                    {{ block.super }}
                    {% endblock logo %}
                    
                    {% block menu %}
                    {{ block.super }}
                    {% endblock menu %}
                </nav>
            </div>
        </div>
{% endblock nav %}


        {% block content %}

        <div class="row">
            <div class="twelve columns content">
                <h1>Społecznościowa baza danych o&nbsppracodawcach i&nbspzarobkach</h1>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <div class="search">

                    {% include "_search.html" %}
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class ="row marketing">
        <div class="four columns">
            <h2>Opinie</h2>
            <p>Opinie o pracodawcach od samych pracowników. Być może mówią to samo co korporacyjna strona internetowa. Ale czy nie warto sprawdzić?</p>
        </div>
        <div class="four columns">
            <h2>Zarobki</h2>
            <p>Informacje o zarobkach anonimowo zostawione przez użytkowników. Czy zarabiasz tyle ile zasługujesz?</p>
        </div>
        <div class="four columns">
          <h2>Rozmowy</h2>
          <p>Wrażenia z rozmów kwalifikacyjnych w firmie. O co pytają. Jak zdobyć tam pracę. Czy warto w ogóle zawracać sobie głowę?</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h2 class="slogan">Pełna anonimowość dla autorów wpisów.</h2>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
