{% extends "base.html" %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}

{% block nav %}
<div class="container full-width">
    <div class="picture-box" style="background-image: url({% static 'pictures/city_landscape.svg' %})">
        <div class="row">
            <div class="twelve columns">
                <nav>
                    <!-- brand logo -->
                    <a href="{% url 'home' %}"><img src="{% static 'pictures/logo_new_white.png' %}"></a>
                    <!-- menu items -->
                    <div class="topnav" id="myTopnav">
                        <a href="{% url 'home' %}">Home</a>
                        <a href="#">Option</a>
                        <a href="{% url 'login' %}">Login</a>
                    </div>
                    <!-- buttons for mobile only -->
                    <a href="javascript:void(0);" class="icon" onclick="showMenu()"><i class="material-icons">menu</i></a>
                    <a href="javascript:void(0);" class="glass" onclick="showSearch"><i class="material-icons">search</i></a>
                </nav>
            </div>
        </div>
        {% endblock nav %}


        {% block content %}

        <div class="row">
            <div class="twelve columns">
                <h1>Społecznościowa baza danych o pracodawcach i zarobkach</h1>
            </div>
        </div>
        <div class="row">
            <div class="offset-by-two eight columns">
                <form action="{% url 'company_search' '' %}" method="POST">
                    {% csrf_token %}
                    <div class="errors">
                        {{ form.non_field_errors }}
                    </div>
                    <div class="search">
                        <input type="search" placeholder="Wyszukaj firmę..." name="company_name" aria-label="wyszukaj firmę"/><button type="submit" class="button-primary"><i class="material-icons">search</i></button>
                    </div>
                    <div class="errors">
                        {{ form.company_name.errors }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class ="row marketing">
        <div class="four columns">
            {% lorem %}
        </div>
        <div class="four columns">
            {% lorem %}
        </div>
        <div class="four columns">
            {% lorem %}
        </div>
    </div>
</div>
{% endblock content %}
