{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/review_form.css' %}">
{% endblock css %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="twelve columns">
            <h1>Rozmowa kwalifikacyjna w {{ company_name }}</h1>
        </div>
    </div>
    <div class="row">
        <section class="eight columns">
            {% include "reviews/_item_form_section.html" %}
        </section>
        <aside class="four columns">
            <h4>Zasady opisywania rozmów kwalifikacyjnych</h4>
            <ul>
                <li>Bez przekleństw</li>
                <li>Bez nazwisk, ani danych pozwalających zidentyfikować konkretną osobę</li>
                <li>Żadnych informacji poufnych</li>
                <li>Prawda, cała prawda i tylko prawda</li>
                <li>Tylko to co może być przydatne dla innych użytkowników</li>
                <li>Opinię zostawiamy po zakończeniu procesu i oceniamy wszystkie jego elementy</li>
                <li>Zakaz jakiejkolwiek promocji</li>
            </ul>
        </aside>
    </div>
</div>
{% endblock content %}
