{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/linkedin_associate.css' %}">
{% endblock css %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="twelve columns">
            <h1>Twoja praca</h1>
            <p>Według Twojego profilu pracujesz w:
                {% for item in companies %}
                {% if not forloop.first %}, {% endif %}
                <strong>{{ item }}</strong>
                {% endfor %}
                . Dopasuj pracodawcę do pozycji w naszej bazie danych.
            </p>

            {% if candidates %}
            <h4>Wybierz z listy firmę, w której pracujesz.</h4>
            <form method="POST">
                {% for name, form in forms.items %}
                <h5>Dotyczy firmy:<strong> {{ name }} </strong></h5>
                {{ form }}
                {% endfor %}
                {% csrf_token %}
                <button type="submit" class="button-primary">Dalej</button>
            </form>
            {% else %}
            {% if new_names %}
            <p>Poniżej możesz dodać brakujące firmy do naszej bazy danych.</p>
            <h4>Kliknij na nazwę, żeby dodać firmę do bazy danych</h4>
            {% for name in new_names %}
            <h2>
                <a href="{% url 'company_create' name.1 %}">{{ name.1 }}</a>
            </h2>
            {% endfor %}

            {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

