<div class="row">
    <div class="seven columns">
        <div class="date">{{ value.date }}</div>
        <h3><i>"{{ value.title | capfirst }}"</i></h3>

        <div class="background">
            <div>{{ value.position }} |&nbsp;</div> 
            <div>{{ value.city }} |&nbsp;</div>
            <div>{{ value.years_at_company }} lata w firmie</div>
        </div>
    </div>
    <div class="five columns">
        {% include "reviews/top_rating.html" %}
    </div>
</div>

<div class="row">
    <div class="eight columns">
        <h5>Zalety</h5>
        <div>{{ value.pros | capfirst | linebreaks }}</div>
        <h5>Wady</h5>
        <div>{{ value.cons | capfirst | linebreaks }}</div>
        <h5>Uwagi</h5>
        <div>{{ value.comment | capfirst | linebreaks }}</div>
    </div>
    <div class="four columns">
        {% include "reviews/rating_table.html" %}
    </div>
</div>

