{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/review_form.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="twelve columns">
            <h1>Recenzja firmy: {{ company.name }}</h1>
        </div>
    </div>
    <div class="row">
        <section class="eight columns">
            <article>
                {% if form.errors %}
                <p class="errors">
                    Popraw błędy poniżej
                </p>
                {% endif %}
            </article>
            <atricle>
                <form action='' method='POST'>
                    {% comment %}
                    To be removed once I figure out how I want to render forms.
                    <fieldset>
                        {% for field in form %}
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                        {% endfor %}
                    </fieldset>
                    {% endcomment %}
                    <fieldset>
                        {{ form }}
                    </fieldset>
                    <fieldset>
                        <h3>Dotyczy stanowiska:</h3>
                        {{ position_form }}
                    </fieldset>
                    {% csrf_token %}
                    <input type='submit' class="button-primary" value='Wyślij'/>
                </form>
            </atricle>
        </section>
        <aside class="four columns">
            <h4>Zasady pisania recenzji</h4>
            <ul>
                <li>Bez przekleństw</li>
                <li>Bez nazwisk, ani danych pozwalających zidentyfikować kontretną osobę</li>
                <li>Żadnych informacji poufnych</li>
                <li>Recenzje zbilansowane wymieniające zarówno złe i dobre strony</li>
                <li>Prawda, cała prawda i tylko prawda</li>
                <li>Tylko to co może być przydatne dla innych użytkowników</li>
            </ul>
        </aside>
    </div>
</div>
{% endblock content %}
