    
<table>
    <tr><td>Data oceny:</td><td>{{ review.date }}</td></tr>
    <tr><td>Stanowisko:</td><td>{{ review.position }}</td></tr>
    <tr><td>Miasto:</td><td>{{ review.city }}</td></tr>
    <tr><td>Lat w firmie:</td><td>{{ review.years_at_company }}</td></tr>
    <tr><td>Ocena ogólna:</td><td>{{ review.overallscore }}</td></tr>
    <tr><td>Możliwości rozwoju:</td><td>{{ review.advancement }}</td></tr>
    <tr><td>Równowaga praca-życie</td><td>{{ review.worklife }}</td></tr>
    <tr><td>Zarobki:</td><td>{{ review.compensation }}</td></tr>
    <tr><td>Atmosfera w pracy:</td><td>  {{ review.environment }}</td></tr>
    <tr><td>Zalety:</td><td>{{ review.pros }}</td></tr>
    <tr><td>Wady:</td><td>{{ review.cons }}</td></tr>
    <tr><td>Uwagi:</td><td>{{ review.comment }}</td></tr>
</table>

<hr/>

