{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/review_form.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="twelve columns">
            <h1>Recenzja firmy: {{ company.name }}</h1>
        </div>
    </div>
    <div class="row">
        <section class="eight columns">
            <article>
                {% if form.errors %}
                <p class="errors">
                    Popraw błędy poniżej
                </p>
                {% endif %}
            </article>
            <atricle>
                <form action='' method='POST'>

                    {% include "reviews/render_form.html" with form=form %}
                    
                    {% if position_form %}
                    <h4>Dotyczy stanowiska:</h4>

                    {% include "reviews/render_form.html" with form=position_form %}

                    {% endif %}
                    {% csrf_token %}
                    <input type='submit' class="button-primary" value='Wyślij'/>
                </form>
                <div class="required"><i>*Pola wymagane</i></div>
            </atricle>
        </section>
        <aside class="four columns">
            <h4>Zasady pisania recenzji</h4>
            <ul>
                <li>Bez przekleństw</li>
                <li>Bez nazwisk, ani danych pozwalających zidentyfikować kontretną osobę</li>
                <li>Żadnych informacji poufnych</li>
                <li>Recenzje zbilansowane wymieniające zarówno złe i dobre strony</li>
                <li>Prawda, cała prawda i tylko prawda</li>
                <li>Tylko to co może być przydatne dla innych użytkowników</li>
            </ul>
        </aside>
    </div>
</div>
{% endblock content %}
