{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/review_form.css' %}">
{% endblock css %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="twelve columns">
            <h1>Zarobki dla firmy {{ company.name }}</h1>
        </div>
    </div>
    <div class="row">
        <section class="eight columns">
            <article>
                <form action='' method='POST'>

                    {% include "reviews/_render_form.html" with form=form %}

                    {% if position_form %}
                    <h4>Dotyczy stanowiska:</h4>

                    {% include "reviews/_render_form.html" with form=position_form %}

                    {% endif %}
                    {% csrf_token %}
                    <input type='submit' value='Wyślij' class="button-primary">
                </form>
                <div class="required"><i>*Pola wymagane</i></div>
            </article>
        </section>
        <aside class="four columns">
            <h4>Zasady wypełniania</h4>
            <ul>
                <li>Wynagrodzenie zasadnicze wpisz za okres jaki zdefiniowano w umowie z pracodawcą (np. za miesiąc, za godzinę, itp.)</li>
                <li>Zmienne elementy wynagrodzenia, wpisz jako premię - wpisz kwotę ostatniej otrzymanej premii i oznacz okres jakiego dotyczy</li>
                <li>Jeśli premie mają charakter nieregularny, oszacuj sumę premii otrzymanych w ostatnim roku</li>
                <li>Jeśli Twoje zarobki określone są nietypowo - oszacuj miesięczny ekwiwalent zarobków na umowę o pracę</li>
            </ul>
        </aside>
    </div>
</div>
{% endblock content %}

