{% load humanize %}

<div class="row">
    <div class="twelve columns">
        <div class="date">{{ value.date|date:"j E Y" }}</div>

        {% include "reviews/background.html" %}
        
        <h5>Zarobki zasadnicze</h5>
        <div class="salary">
            {{ value.currency }}
            {{ value.salary_input|intcomma }}
            {{ value.get_period_display }}
            {{ value.get_gross_net_display }}
        </div>
        
        {% if value.bonus_input %}
        <h5>Premia</h5>
        <div class="bonus">
          {{ value.currency }}
          {{ value.bonus_input|intcomma }}
          {{ value.get_bonus_period_display }}
          {{ value.get_bonus_gross_net_display }}
        </div>
        {% endif %}
    </div>
</div>
