<div class="row">
    <div class="twelve columns">
        <div class="date">{{ value.date }}</div>

        <div class="background">
            <div>{{ value.position }} |&nbsp;</div>
            <div>{{ value.city }} |&nbsp;</div>
            <div>{{ value.get_employment_status_display }}</div>
        </div>
        <h3>Zarobki</h3>
        <div class="salary">
            {{ value.currency }}
            {{ value.salary_input }}
            {{ value.get_period_display }}
            {{ value.get_gross_net_display }}
        </div>

        <h3>Premia</h3>
        <div class="bonus">
            {{ value.bonus_input }}
            {{ value.get_bonus_period_display }}
            {{ value.get_bonus_gross_net_display }}
        </div>
    </div>
</div>
