.password-change {
    margin: 3rem 0;
}

form li {
    display: inline-block;
    list-style: none;
    margin: 0 2rem 0 0;    
}

.send {
    padding-top: 2rem;
}

.social-icon {
    display: flex;
    align-items: center;

}

.linked-accounts {
    margin: 1rem 0 4rem 0;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

.social-icon img {
    padding: 1.25rem 1rem 1.25rem 1rem;
}

.social-icon i {
    padding: 1rem ;
}

.social-icon button {

}

.fa-facebook-official {
    color: #3b5998;
}

.fa-google-plus-official {
    color: #db3236;
}

.fa-linkedin-square {
    color: #0077B5;
}
