.password-change {
    margin: 3rem 0;
}

form li {
    display: inline-block;
    list-style: none;
    margin: 0 2rem 0 0;    
}

.send {
    padding-top: 2rem;
}

.s-icon {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;

}

.linked-accounts {
    margin: 1rem 0 4rem 0;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

.s-icon img {
    padding: 2.7rem 1.9rem;
}

.s-icon i {
    font-size: 8.4rem;
}

.s-icon form button {
    margin-top: 3rem;
}

.icon-official {
    color: #3b5998;
    padding: 0;
}

h5 {
    margin-bottom: 0.2rem;
}

.fa-google-plus-official {
    color: #db3236;
}

.icon-ln-sq {
    color: #0077B5;
}

.disconnection-warning {
    font-size: 1.2rem;
    font-style: italic;
}
