{% extends "base.html" %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="twelve columns">
            <h1>Logowanie</h1>
            <div class="errors">
                {% if form.errors %}
                <p>Podany email lub hasło są nieprawidłowe. Spróbuj jeszcze raz...</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="eight columns">
            <div class="login">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td><strong>e-mail:</strong></td>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <td><strong>hasło:</strong></td>
                            <td>{{ form.password }}</td>
                        </tr>
                        <tr>
                            <td><input type="submit" value="zaloguj" class="button-primary" /></td>
                        </tr>
                    </table>

                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
                <p>
                    <a href="{% url 'password_reset' %}" class="button">Zresetuj hasło</a>
                    <a href="{% url 'register' %}" class="button">Zarejestruj się</a>
                </p>

            </div>
        </div>

        <div class="four columns">
            <div class="social">
                <a href="{% url "social:begin" "linkedin-oauth2" %}?next={{ next }}">
                    <img src="{% static 'img/registration/linkedin/Sign-in-Large---Default.png' %}">
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
