
form {
    font-family: Lato;
    font-size: 1.8rem;
    }


input[type=text], input[type=email], textarea {
    width: 100%;
    }

textarea {
    height: 20rem;
}

/*override for currency field in salary form*/
#id_currency {
    width: auto;
    }

aside li {
    margin-left: 1.7rem;
    list-style-position: outside;
    font-size: 1.8rem;
    font-weight: 300;
    }

/* start formatting rating stars */
/* does the div come from overriden widget? */
form div.rating_stars {
    overflow: hidden;
    display: inline-block;
    direction: rtl;
}

form div.rating_stars input[type=radio] {
    float: right;
    width: 48px;
    height: 48px;
    padding: 0;
    margin: 0 0 0 -4.8rem;
    opacity: 0;
}

form div.rating_stars label {
    cursor: pointer;
    position: relative;
    float: right;
    display: block;
    font-size: 0;
    width: 4.8rem;
    height: 4.8rem;
    background: url('img/ic_star_border_black_24px.svg') 0/4.8rem;
    margin-top: 0;
    
}

form div.rating_stars label:hover,
form div.rating_stars label:hover ~ label,
input[type=radio]:checked,
input[type=radio]:checked ~ label {
    background-position: 0 0;
    background: url('img/ic_star_black_24px.svg') 0/4.8rem;
}

/* end formatting rating stars */

/* styling radios - they wrap selects in li and label */
form ul {
    margin: 0;
}

form li {
    display: inline-block;
    list-style: none;
    padding: 0 2rem 0 0;
    margin: 0;
}
/*end styling radios */

label[for=id_start_date_year]:before {
    content: "Data rozpoczęcia:\A";
    white-space: pre;
}

label[for=id_end_date_year]:before {
    content: "Data zakończenia:\A";
    white-space: pre;
}

@media screen and (min-width: 410px) {
    label[for=id_start_date_month],
    #id_start_date_month
     {
        margin-right: 11rem;
    }
}

@media screen and (min-width: 850px) and (max-width: 950px) {
    label[for=id_start_date_month],
    #id_start_date_month
     {
        margin-right: 5rem;
    }
}

.inline {
    display: inline-block;
}

input, textarea, select {
    margin-bottom: 0;
    margin-top: 0;
}

label {
    margin-top: 1rem;
}

@media screen and (min-width: 700px) { 
    label {
        margin-top: 1.5rem;
    }
}


li label {
    margin-top: 0;
}

.help {
    color: rgb(30, 174, 219);
    font-style: italic;
    font-size: 1.5rem;
}

#id_benefits label {
    font-weight: 400;
    font-size: 15px;
}
