
.icon-ln:before { content: '\f0e1'; } /* '' */
.icon-official:before { content: '\f230'; } /* '' */
.icon-f-squared:before { content: '\f308'; } /* '' */
.icon-ln-sq:before { content: '\f30c'; } /* '' */