html {
    position: relative;
    min-height: 100%;
    font-size: 10px;
    background-color: #d9d9d9;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 4em;
    font-size: 1.7em;
    font-family: Lato, Arial, Sans-serif;
    /*font-family: 'Fira Mono';*/
    letter-spacing: 0.03em;
}

a {
    text-decoration: none;
    }

h1 {
    font-weight: 400;
}

.container {
    background-color: #ffffff;
    padding: 1.5rem;
    margin-top: 1rem;
    box-shadow: 1rem 1rem 1rem #f2f2f2;
    box-shadow: 0 1px 1px 1px rgba(127,127,127,0.3);
}

/* override skeleton to be full width on large phones */
@media (min-width: 400px) {
  .container {
    width: 100%;
     }
}

.message-stripe {
    background-color: inherit;
    box-shadow: none;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
}

.messages {
    margin: 0;
}
.message-stripe li {
    list-style-type: none;
    font-style: italic;
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

/* styling for different type of message tags */
.success {
    color:  rgb(30, 174, 219);
}

.info {
    color: #0CAA41
}

.warning {
    color: red;
}
/* end styling for message tags */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    min-height: 4rem;
    background-color: #f5f5f5;
    box-shadow: 0 1px 1px 1px rgba(127,127,127,0.3);
    box-sizing: border-box;
    padding: 1rem 2rem;
}

/**** START STYLING RESPONSIVE TOP NAVBAR ****/
/* common part regardless of screen size */

nav {
    justify-content: center;
    width: 100%;
    background-color: #0CAA41;
    box-shadow: 0 1px 1px 1px rgba(127,127,127,0.3);
    height: 6rem;
    display: flex;
    align-items: center;
}

nav img {
    max-height: 4rem;
    vertical-align: middle;
}

.search-mobile {
    display: none;
}

nav a, nav span {
    padding: 1.4rem 1.6rem;
    text-decoration: none;
    font-size: 2rem;
    color: white;
    text-align: center;
}
/* end of common part irrespecitve of screen size */


/* for screens smaller than 800px, add two icons that start javascript and logo in the middle */
@media screen and (max-width: 800px) {
    .menu-items {
        display: none;
    }

    nav .search-bar {
        display: none;
    }

    nav span.icon, nav span.glass
    {
        display: block;
        position: absolute;
        color: white;
    }

    nav span.icon {
        right: 0;
    }

    nav span.glass  {
        left: 0;
    }

    .search-mobile.responsive {
        display: block;
    }
   
    .search-mobile form {
        display: flex;
        align-items: center;
        margin: 1rem 2rem 0 2rem;
        padding-top: 1rem;
    }

    .search-mobile form input {
        width: 80%;
        box-shadow: 0 1px 1px 1px rgba(127,127,127,0.3);
    }

    .search-mobile form button {
        box-shadow: 0 1px 1px 1px rgba(127,127,127,0.3);
        padding: 0 1rem;
        margin-bottom: 1.5rem;
    }

}
/* end small screens compliant */

/* When the screen is more than 750px wide, display links. Hide the icons that open and close the menu-items and .mobile-searchbar (.icon) */

@media screen and (min-width: 801px) {
    nav {
        justify-content: space-between;    
    }

    .menu-items a:hover {
        color: #e7fdef;
        /*background-color: #098231*/;
    }

    .menu-items {
        float: right;
    }

    .search-bar form {
        display: inline-flex;
        margin: 0;
        align-items: center;
        vertical-align: middle;
    }

    .search-bar form input {
        height: 4rem;
        width: 30rem;
        margin: 0;
    }

    .search-bar form button {
        height: 4rem;
        text-align: left;
        padding: .1rem;
        display: inline-flex;
        border: none;
        color: white;
        background-color: #0CAA41;
        border-color: #0CAA41;
        margin:0;
    }

    .search-bar form button:hover {
        background-color: #098231;
    }

    nav .icon, nav .glass {
        display: none;
    }
}

.ui-autocomplete {
    max-height: 20rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.material-icons {
    vertical-align: middle;

}

    

/* The "responsive" class is added to the menu-items with JavaScript when the user clicks on the icon. This class makes the menu-items look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 801px) {
    .menu-items.responsive {
        display: block;
        position: absolute;
        top: 6rem;
        right: 0rem;
        background-color: #d9d9d9;
        background-color: #e6e6e6;
        padding: 0rem 1rem;
        z-index: 2;
        box-shadow: 0 1px 1px 1px rgba(127,127,127,0.3);

    }
    
    .menu-items.responsive a {
        float: none;
        display: block;
        text-align: left;
        padding: 2rem;
        color: black;
     }

} 
/* end styling responsive top navbar */



/* common formatting for all forms */
.errors, .errorlist {
    color: red;
    list-style: none;
    font-style: italic;
}

.required {
    color: red;
}
/* end common formatting for forms */

#paginatorSelect {
    margin-bottom: 0;
}
