html {
    position: relative;
    min-height: 100%;
    font-size: 10px;
    background-color: #d9d9d9;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 4em;
    font-size: 1.7em;
    font-family: Lato, Arial, Sans-serif;
    /*font-family: 'Fira Mono';*/
    letter-spacing: 0.03em;
}

a {
    text-decoration: none;
    }

h1 {
    font-weight: 400;
}

.container {
    background-color: #ffffff;
    padding: 1.5rem;
    margin-top: 1rem;
    box-shadow: 0 1px 1px 1px rgba(127,127,127,0.3);
}

/* override skeleton to be full width on large phones */
@media (min-width: 400px) {
  .container {
    width: 100%;
     }
}

.message-stripe {
    background-color: inherit;
    box-shadow: none;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
}

.messages {
    margin: 0;
}
.message-stripe li {
    list-style-type: none;
    font-style: italic;
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

/* styling for different type of message tags */
.success {
    color:  rgb(30, 174, 219);
}

.info {
    color: #0CAA41
}

.warning {
    color: red;
}
/* end styling for message tags */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    min-height: 4rem;
    background-color: #f5f5f5;
    box-shadow: 0 1px 1px 1px rgba(127,127,127,0.3);
    box-sizing: border-box;
    padding: 1rem 2rem;
}

/**** START STYLING RESPONSIVE TOP NAVBAR ****/
/* common part regardless of screen size */

nav {
    justify-content: center;
    width: 100%;
    background-color: #0CAA41;
    box-shadow: 0 1px 1px 1px rgba(127,127,127,0.3);
    height: 6rem;
    display: flex;
    align-items: center;
}

nav img {
    max-height: 4rem;
    vertical-align: middle;
}

.search-mobile {
    display: block;
    position: absolute;
    top: -20rem;
}

nav a, nav span {
    padding: 1.4rem 1.6rem;
    text-decoration: none;
    font-size: 2rem;
    color: white;
    text-align: center;
}


/* collapsible menu acitvated by button click - button click activates js, which adds 'responisve class to .desktop-menu */    

.collapsible-menu {
    position: absolute;
    top: 6rem;
    right: -25rem;
    transition: right 0.3s;
    color: rgb(64, 64, 64);
    height: 100vh;
    background-color: #EAEAE8;
    padding: 0rem 1rem;
    z-index: 2;
    box-shadow: 0 1px 1px 1px rgba(127,127,127,0.3);
    visibility: hidden;
    width:0;
}

.collapsible-menu div {
    padding: 0.5rem 0.5rem;
}

.collapsible-menu a {
    color: rgb(64, 64, 64);
}

.collapsible-menu-items {
    border-bottom: solid 0.75px  #0CAA41;
}

.collapsible-menu .account-icon {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border-bottom: solid 0.75px  #0CAA41;
}

.collapsible-menu .account-icon .material-icons {
    color: rgb(64, 64, 64);
    font-size: 4rem;
}

.collapsible-menu .account-icon .user {
    color: rgb(64, 64, 64);
}

.collapsible-menu.responsive {
    visibility: visible;
    right: 0;
    transition: right 0.4s;
    width: auto;
}

/*end of collapsible menu */

/* end of common part irrespecitve of screen size */


/* for screens smaller than 800px, add two icons that start javascript and logo in the middle */
@media screen and (max-width: 800px) {
    .menu-items {
        display: none;
    }

    nav .search-bar {
        display: none;
    }

    nav span.icon, nav span.glass
    {
        display: block;
        position: absolute;
        color: white;
    }

    nav span.icon {
        right: 0;
    }

    nav span.glass  {
        left: 0;
    }

    .search-mobile.responsive {
        display: block;
        position: relative;
        top: 0rem;
        transition: top 0.4s;
    }
   
    .search-mobile form {
        display: flex;
        align-items: center;
        margin: 1rem 2rem 0 2rem;
        padding-top: 1rem;
    }

    .search-mobile form input {
        width: 80%;
        box-shadow: 0 1px 1px 1px rgba(127,127,127,0.3);
    }

    .search-mobile form button {
        box-shadow: 0 1px 1px 1px rgba(127,127,127,0.3);
        padding: 0 1rem;
        margin-bottom: 1.5rem;
    }
} 
/* end small screens compliant */


/* When the screen is more than 750px wide, display links. Hide the icons that open and close the menu-items and .mobile-searchbar (.icon) */

@media screen and (min-width: 801px) {
    nav {
        justify-content: space-between;    
    }

    nav .material-icons {
        padding-right: 1.6rem;
        font-size: 4.3rem;
    }

    .menu-items a:hover, .menu-items button .material-icons:hover, .menu-items button:hover {
        color: #e7fdef;
    }

    .menu-items {
        float: right;
    }

    .search-bar form {
        display: inline-flex;
        margin: 0;
        align-items: center;
        vertical-align: middle;
    }

    .search-bar form input {
        height: 4rem;
        width: 30rem;
        margin: 0;
    }

    .search-bar form button {
        border: none;
        color: white;
        background-color: #0CAA41;
    }

    nav button {
        padding: 0;
        margin: 0;
        border: none;
    }

    .search-bar form button:hover {
        background-color: #0CAA41;
    }

    nav .icon, nav .glass {
        display: none;
    }

    .button.login-button {
        vertical-align: middle;
        margin: 0 2rem;
    }

    /* collapsible menu - incremental on small screens */
    .collapsible-menu a:hover {
        color: #0CAA41;
    }
    
    .collapsible-menu  div {
        padding: 1rem 1rem;
    }

    .collapsible-menu .account-icon .material-icons {
        font-size: 7rem;
}

    /* end of collapsible menu */

}

.ui-autocomplete {
    max-height: 20rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.material-icons {
    vertical-align: middle;
    color: white;

}
/* end styling responsive top navbar */    




/* common formatting for all forms */
.errors, .errorlist {
    color: red;
    list-style: none;
    font-style: italic;
}

.required {
    color: red;
}
/* end common formatting for forms */

#paginatorSelect {
    margin-bottom: 0;
}
