
table {
    margin-top: 5rem;
    table-layout: fixed;
    max-width: 100%;
}

table td {
    border-style: none;
    max-width: 20rem;
}

table, form {
    max-width: 100%;
}

form input {
    max-width: 100%;
}

.login {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

@media screen and (min-width: 650px) {
    .login {
        border-right: solid 1px gray;
}
}

.social {
    height: 20rem;
    margin-top: 10rem;
    max-width: 100%;
}

.social img {
    max-width: 100%;
}

.button-primary {

}
