{% extends 'base.html' %}
{% load reviews_extras %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock css %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="twelve columns">
          <h1>Rejestracja - profil</h1>
          <p>Poniższe dane są wykorzstywane tylko do zbiorczych statystyk.</p>
            <form action="" method="POST">
                {% csrf_token %}
                <formset>



                </formset>

                <formset>

                {% include 'reviews/_render_form.html' with form=profile_form %}

                </formset>


                <p class="send">
                    <input type="submit" value="dalej" class="button-primary">
                </p>
                
            </form>
            <div class="required"><i>*Pola wymagane</i></div>
        </div>
    </div>
</div>

{% endblock content %}

