{% extends "base.html" %}

{% block content %}

{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/font-awesome-4.7.0/css/font-awesome.min.css' %}">
{% endblock css %}


<div class="container">
    <div class="row">
        <div class="twelve columns">
            <h1>Wylogowano</h1>
            <h4>Dziękujemy za skorzystanie z portalu pracor</h4>
                <p>Wpadnij ponownie! <i style="color:  #e6b800;" class="fa fa-smile-o fa-lg" aria-hidden="true"></i></p>
            <div>
                <a class="button button-primary" href="{% url 'login' %}">Zaloguj</a>
                <a class="button" href="{% url 'home' %}">Strona główna</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

