{% extends "base.html" %}

{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/login_css.css' %}">
{% endblock css %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="twelve columns">
            <h1>Logowanie</h1>
            <h4>Podaj swój email i hasło dla portalu pracor lub zaloguj się przez serwis zewnętrzny</h4>
            <div class="errors">
                {% if next != '/' and next != '/login/' %}
                Ta strona wymaga zalogowania.
                {% endif %}
                {% if form.errors %}
                <p>Podany email lub hasło są nieprawidłowe. Spróbuj jeszcze raz...</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="four columns">
            <div class="social">
                <a href="{% url "social:begin" "linkedin-oauth2" %}?next={{ next }}">
                    <img src="{% static 'img/registration/linkedin/Sign-in-Large---Default.png' %}">
                </a>
                <a href="{% url "social:begin" "google-oauth2" %}?next={{ next }}">
                    <img src="{% static 'img/registration/google_signin_buttons/web/1x/btn_google_signin_dark_normal_web.png' %}">
                </a>
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
            </div>
        </div>
        <div class="eight columns">
            <div class="login">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div><strong>e-mail:</strong></div>
                    <div>{{ form.username }}</div>
                    <div><strong>hasło:</strong></div>
                    <div>{{ form.password }}</div>
                    <input type="submit" value="zaloguj" class="button-primary" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
                <p>
                  <a href="{% url 'register' %}" class="button">Zarejestruj się</a>
                  <a href="{% url 'password_reset' %}" class="button">Zresetuj hasło</a>

                </p>

            </div>
        </div>
    </div>
</div>
{% endblock content %}
