{% extends "base.html" %}


{% block content %}

<div class="container">
  <div class="row">
    {% if validlink %}
        <div class="seven columns">
            <h1>Zmiana hasła</h1>
            <h4>Podaj nowe hasło</h4>
            <form action="" method="post" autocomplete="off">
                {% csrf_token %}
                <div class="errors">
                    {{ form.non_field_errors }}
                </div>

                {% for field in form %}
                <div class="form_field {{ field.field.widget.attrs.class }}">
                    <label for="{{ field.id_for_label }}">
                        {{ field.label|safe }}
                        {% if field.field.required %}
                        <span class="required">*</span>
                        {% endif %}
                    </label>
                    {{ field.errors }}
                    {{ field }}
                </div>
                {% endfor %}
                
                <input class="button-primary" type="submit" value="Wyślij"/>
            </form>
            <div class="required"><i>*Pola wymagane</i></div>
        </div>

        <aside class="five columns">
            {% for field in form %}
            {% if field.help_text %}
            <p><strong>{{ field.label }}:</strong></p>
            {{ field.help_text|safe }}
            {% endif %}
            {% endfor %}
        </aside>

        {% else %}
        <h1>Link utracił ważność</h1>
        <h4>Spróbuj ponownie</h4>
        <div>
            <a href="{% url 'password_reset' %}" class="button button-primary">Zresetuj hasło</a>
            <a href="{% url 'login' %}" class="button">Zaloguj</a>
        </div>
        {% endif %}
  </div>
</div>


{% endblock content %}
