{% extends "base.html" %}

{% block content %}


<div class="container">
    <div class="row">
      <div class="twelve columns">
          <h1>Wysłano email</h1>
          <h4>Wysłaliśmy instrukcję resetowania hasła</h4>
          <p>Sprawdź swój email.</p>
          <p>Jeśli nie otrzymasz od nas emaila, upewnij się, że poprawnie wpisujesz email zarejestrowany na pracor. Sprawdź również swój folder Spam.</p>
          <p>Jeśli nie masz konta na pracor, możesz je <a href="{% url 'register' %}">założyć</a>.</p>
          <a href="{% url 'home' %}" class="button">Powrót</a>
      </div>
      
    </div>
</div>
{% endblock content %}
