{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="twelve rows">
            <h1>Resetowanie hasła</h1>
            <h4>Wpisz poniżej swój adres email</h4>
            <p>Jeśli masz konto na pracor wyślemy Ci instrukcję resetowania hasła</p>
            <form action="" method="POST">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="submit" class="button-primary" value="Wyślij">
            </form>
        </div>
    </div>
</div>

{% endblock content %}
