{% extends 'base.html' %}
{% load reviews_extras %}


{% block css %}
<style>
    form li {
        display: inline-block;
        list-style: none;
        margin: 0 2rem 0 0;    
    }
    .send {
        padding-top: 2rem;
        }
</style>
{% endblock css %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="twelve columns">
          <h1>Profil użytkownika</h1>
          <h4>{{ form.email }}
          <p>Poniższe dane są wykorzstywane tylko do zbiorczych statystyk.</p>
            <form action="" method="POST">
                {% csrf_token %}
                <formset>
                  {% include 'reviews/_render_form.html' with form=profile_form %}
                </formset>
                <div class="send">
                    <input type="submit" value="zapisz" class="button-primary">
                </div>
            </form>
            <div class="required"><i>*Pola wymagane</i></div>
        </div>
    </div>
</div>

{% endblock content %}
