{% extends 'base.html' %}
{% load reviews_extras %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome-4.7.0/css/font-awesome.min.css' %}">
{% endblock css %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="twelve columns">
            <h1>Profil użytkownika</h1>
            <h4>{{ user.email }}</h4>
            {% if password %}
            <section class="password-change">
                <a class="button button-primary" href="{% url 'password_change' %}">Zmień hasło</a>
            </section>
            {% endif %}
            <section>
                <p>Poniższe dane są wykorzstywane tylko do zbiorczych statystyk.</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    <formset>
                        {% include 'reviews/_render_form.html' %}
                    </formset>
                    <div class="send">
                        <input type="submit" value="zapisz" class="button-primary">
                    </div>
                </form>
            </section>
        </div>
    </div>
    {% if user.social_auth.all %}
    <section class="linked-accounts">
        <div class="row">
            <div class="twelve columns">
                <h5>Logujesz sie przez:</h5>
            </div>
        </div>
        <div class="row">
            {% for item in user.social_auth.all %}
            <div class="four columns">
                <div class="social-icon">
                    {% if item.provider == 'google-oauth2' %}
                    <img src="{% static 'img/registration/g-logo.png' %}">
                    {% else %}
                    <i class="fa fa-{{ item.provider|social_auth }} fa-5x"></i>
                    {% endif %}
                    <form method="POST" action="{% url 'social:disconnect' item.provider %}">
                        {% csrf_token %}
                        <button type="submit" class="button">odłącz</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="twelve columns">

                {% if not password and user.social_auth.all.count < 2 %}
                <div class="disconnection-warning">Przed odłączeniem będzie wymagane ustanowienie hasła aby możliwe było ponowne zalogowanie do serwisu.</div>
                {% endif %}
            </div>
        </div>
    </section>
    {% endif %}
    <section>
        <div class="row">
            <div class="twelve columns">
                {% if request.META.HTTP_REFERER %}
                <a class="button" href=" {{ request.META.HTTP_REFERER }}">Powrót</a>
                {% endif %}
                <a class="button" href="{% url 'home' %}">Strona główna</a>
            </div>
        </div>
    </section>
</div>
{% endblock content %}
