{% load staticfiles %}

<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta name="description" content="pracr to portal gdzie użytkownicy anonimowo dzielą się opiniami o pracodawcach i danymi o zarobkach. Anonimowość jest gwarantowana."/>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        
        <title>
            {% block title %}
            pracr - społecznościowa baza danych o pracodawcach i zarobkach
            {% endblock title %}
        </title>

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--     Fonts      -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700" />
        <link href="https://fonts.googleapis.com/css?family=Fira+Mono:300,400,500,700" rel="stylesheet"> 

        <!-- Normalize and Skeleton -->
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/skeleton.css' %}"/>

        <!-- jQuery UI -->
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
        
        <!-- Custom project css -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}"/>

        <!-- Custom app css -->
        {% block css %}
        {% endblock css %}
    </head>
    
    <body>
      {% block nav %}
        <nav>
            {% block logo %}
            <!-- brand logo -->
            <a href="{% url 'home' %}"><img src="{% static 'img/logo_new_white.png' %}"></a>
            {% endblock %}
            {% block searchbar %}
            <!-- searchbar  -->
            <div class="search-bar">
                <form action="{% url 'company_search' '' %}" method="POST">
                    <input type="search" id="search" placeholder="Wyszukaj firmę..." name="company_name" class="search-field auto-search" aria-label="wyszukaj firmę" autocomplete="off" required/><button type="submit" class="submit-button"><i class="material-icons">search</i></button>
                    {% csrf_token %}
                </form>
            </div>
            {% endblock searchbar %}
            {% block menu %}
            <!-- menu items -->
            <div class="topnav" id="myTopnav">
                {% if not user.is_authenticated %}
                <a href="#">Option</a>
                <a href="{% url 'login' %}?next={{ request.path | urlencode }}">Zaloguj</a>
                {% else %}
                <a>{{ request.user }}</a>
                <a href="{% url 'logout' %}">Wyloguj</a>
                {% endif %}
            </div>
            <!-- buttons for mobile only -->
            <a href="javascript:void(0);" class="icon" onclick="showMenu()"><i class="material-icons">menu</i></a>
            <a href="javascript:void(0);" class="glass" onclick="showSearch()"><i class="material-icons">search</i></a>
            {% endblock menu %}
        </nav>
        {% endblock nav %}
        <!-- searchbar for mobile only -->
        <div id="mobile-searchbar" class="search-mobile">
            <form action="{% url 'company_search' '' %}" method="POST">
                <input type="search" placeholder="Wyszukaj firmę..." name="company_name" class="search-field auto-search" aria-label="wyszukaj firmę" autocomplete="off" required/><button type="submit" class="submit-button"><i class="material-icons">search</i></button>
                {% csrf_token %}
            </form>
        </div>

        <main>                      
                
            {% block content %}

            {% endblock content %}

        </main>


        
        <footer>

            Tu będzie footer.
            
        </footer>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
</script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
