<!doctype html>
<html>
  <head>
    <title>LinkedIn Profile Data</title>
</head>

  <body>
    <h1>User: {{ request.user }}</h1>
    <img src= {{ data.picture_url }} alt="User's picture"/>
    
    <p>User data:
      {{ request.user.get_username }}
      {{ request.user.get_full_name }}
      {{ request.user.email }}
    
    {{ data.expires }}
  <table>
  {% for key, value in data.items %}
  <tr>
    <td>{{ key }}</td>
    <td>{{ value }}</td>
  </tr>
  {% endfor %}
  </table>
</body>
</html>
