html {
    background-color: white;
}

.container.full-width {
    min-width: 100%;
    padding: 0;
}

.container {
    box-shadow: none;
    margin-top: 0;
}

.content {
    padding: 0rem;
    margin-top: 1.5rem;
}

h1 {
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 2.5rem;
    margin: 0 1rem;
    color: white;
    font-weight: 900;
}

nav {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: None;
    }

nav a {
}

.search form {
    display: flex;
    margin: 5rem 1rem 10rem 1rem;
    justify-content: center;
}

.search form input {
    width: 70%;
    height: 5rem;
    font-size: 2.2rem;
    box-shadow: 0 1px 1px 1px rgba(127,127,127,0.3)
}

.search form button {
    height: 5rem;
    box-shadow: 0 1px 1px 1px rgba(127,127,127,0.3)
}

.material-icons {
    vertical-align: middle;
    font-size: 3.5rem;
}

.errors ul {
    color: red;
    list-style: none
}

.marketing {
    color: black;
}

.picture-box {
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    background-size: cover;
}



@media screen and (min-width: 650px) {
    h1 {
        font-size: 4.5rem;
    }
}


@media screen and (min-width: 950px) {
    .picture-box {
        background-repeat: repeat;
        background-size: contain;
    }

    .search {
        margin: 10rem 1rem 30rem 1rem;
    }

    .content {
        margin-top: 5rem;
    }

    h1 {
        font-size: 6rem;
    }
}

.glass {
    visibility: hidden;
}
