
form {
    font-family: Lato;
    font-size: 1.8rem;
    }


input[type=text], textarea {
    width: 100%;
    }

/*override for currency field in salary form*/
#id_currency {
    width: auto;
    }


aside li {
    margin-left: 1.7rem;
    list-style-position: outside;
    font-size: 1.8rem;
    font-weight: 300;
    }


/* start formatting rating stars */
/* does the div come from overriden widget? */
form div.rating_stars {
    overflow: hidden;
    display: inline-block;
    direction: rtl;
}


form div.rating_stars input[type=radio] {
    float: right;
    width: 48px;
    height: 48px;
    padding: 0;
    margin: 0 0 0 -4.8rem;
    opacity: 0;
}



form div.rating_stars label {
    cursor: pointer;
    position: relative;
    float: right;
    display: block;
    font-size: 0;
    width: 4.8rem;
    height: 4.8rem;
    background: url('img/ic_star_border_black_24px.svg') 0/4.8rem;
    
}


form div.rating_stars label:hover,
form div.rating_stars label:hover ~ label,
input[type=radio]:checked,
input[type=radio]:checked ~ label {
    background-position: 0 0;
    background: url('img/ic_star_black_24px.svg') 0/4.8rem;
}

/* end formatting rating stars */

/* styling radios - they wrap selects in li and label */
form ul {
    margin: 0;
}

form li {
    display: inline-block;
    list-style: none;
    padding: 0 2rem 0 0;
    margin: 0;
}
/*end styling radios */


.required {
    color: red;
}


label[for=id_start_date_year]:before {
    content: "Data rozpoczęcia:\A";
    white-space: pre;
}

.inline {
    display: inline-block;
}

.help {
    font-style: italic;
    font-size: 1.4rem;
}
