{% with id=widget.attrs.id %}
<div {% if id %}id="{{ id }}" {% endif %}
    class="rating_stars{% if widget.attrs.class %} {{ widget.attrs.class }}{% endif %}">
    
    {% for group, options, index in widget.optgroups reversed %}
    
    {% if group %}
    <div class="group">
        <span class="group-label">{{ group }}</span>
        <div {% if id %}id="{{ id }}_{{ index }}" {% endif %}>
    {% endif %}

    {% for option in options %}
    {% include option.template_name with widget=option %}
    {% endfor %}

    {% if group %}
    </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endwith %}